<div class="dashboard">
  <header>
    <div class="header">
      <div class="header-logo">
        <img src="assets/logo.svg" alt="Logo" />
      </div>
      <button mat-flat-button (click)="logout()">Logout</button>
    </div>
  </header>

  <!-- Display indicators -->
  <div class="indicators-container">
    <div *ngFor="let indicator of indicators">
      <div class="indicator">
        <h4>{{ indicator.name }}</h4>
        <h2>{{ indicator.value }}</h2>
      </div>
    </div>
  </div>

  <!-- Chart -->
  <div
    *ngIf="chartLabels.length > 0 && chartValues.length > 0"
    class="chart-wrapper"
  >
    <h2>Alerts per Hour</h2>
    <canvas
      baseChart
      [data]="{
        labels: chartLabels,
        datasets: [{ data: chartValues, label: 'Alerts' }]
      }"
      [options]="chartOptions"
      [type]="'line'"
    ></canvas>
  </div>
</div>
